@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
   overflow: hidden;
   padding: 0;
   margin: 0;
}

@font-face {
   font-family: IranYekan;
   src: local('IranYekan-Thin'),
      url(./assets/fonts/IRANYekanMobileThin.woff2) format('woff2');
   font-weight: 200;
}

@font-face {
   font-family: IranYekan;
   src: local('IranYekan-Light'),
      url(./assets/fonts/IRANYekanMobileLight.woff2) format('woff2');
   font-weight: 300;
}

@font-face {
   font-family: IranYekan;
   src: local('IranYekan-Regular'),
      url(./assets/fonts/IRANYekanMobileRegular.woff2) format('woff2');
   font-weight: 400;
}

@font-face {
   font-family: IranYekan;
   src: local('IranYekan-Medium'),
      url(./assets/fonts/IRANYekanMobileMedium.woff2) format('woff2');
   font-weight: 500;
}

@font-face {
   font-family: IranYekan;
   src: local('IranYekan-Bold'),
      url(./assets/fonts/IRANYekanMobileBold.woff2) format('woff2');
   font-weight: 600;
}

@font-face {
   font-family: IranYekan;
   src: local('IranYekan-ExtraBold'),
      url(./assets/fonts/IRANYekanMobileExtraBold.woff2) format('woff2');
   font-weight: 700;
}
